
        function saveFrame(blob) {
            array.push(blob);
        }

        function revokeURL(e) {
            URL.revokeObjectURL(this.src);
        }
        
        function onend(e) {
            var img;
            // do whatever with the frames
            for (var i = 0; i < array.length; i++) {
            img = new Image();
            img.onload = revokeURL;
            img.src = URL.createObjectURL(array[i]);
            document.body.appendChild(img);
            }
            // we don't need the video's objectURL anymore
            URL.revokeObjectURL(this.src);
        }
        
        video.muted = true;

        video.addEventListener('loadedmetadata', initCanvas, false);
        video.addEventListener('timeupdate', drawFrame, false);
        video.addEventListener('ended', onend, false);

        video.src = URL.createObjectURL(this.files[0]);
        video.play();
        }
    
    </script>
    </body>
</html>
