<!DOCTYPE html>
<html>
   <head>
      <title>Frame Specification</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading-style.css') }}">
   </head>
   <body>
    
                 <!-- Progress Bar -->
                 <nav class="navmenu">
                        <ul>
                                <li>Upload Image</li>
                                <li>Upload Video</li>
                                <li>Chopping Frames</li>
                                <li class="active">Frame Specification</li>
                                <li>Image Searching</li>
                                <li>Result</li>
                        </ul>
                </nav>     

                <form class="container">
                        <input type="number" name="name" class="question" id="nme" required autocomplete="off" />
                        <label for="nme"><span>Please Enter Your Desired Frame Count</span></label>
                        <input type="submit" value="Next" />
                </form>
     
   </body>
</html>