<!DOCTYPE html>
      <html lang="en">
      <head>
            <title>Login</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
      </head>

      <body>
        <!--NavBar-->
        <div class="top-border">
            <div class="top-elements">
                <div class="rosen-logo">
                    <a href=".">
                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                    </a>
                </div>
            </div>
        </div>

        <!-- Input Form-->
        <div class="input-form-container">
            
            <div class="login-title">
                <b>Login<b>
            </div>

            <form class="input-form" action="" method="POST">
                <label for="username"><b>Username</b></label>
                <br>
                <input class="text-box" type="text" placeholder="Enter Username" name="username" required {{
                    request.form.username }}
                >
                <br><br>

                <label for="password"><b>Password</b></label>
                <br>
                <input class="text-box" type="password" placeholder="Enter Password" name="password" required {{
                    request.form.password }}
                >
                <br><br><br>
        
                <a href=index>
                    <button type="submit" class="login-button"><b>Login<b></button>
                </a>
                <label>
            </form>
        </div>
        
        <!--Footer div-->
        <div>
                <footer class='login-footer'>
                    <div class="footer-text">
                        ROSEN Team A
                    </div>
                </footer>
        </div>
      </body>
</html>

<html lang="en">
      <head>
            <title>Login</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
      </head>

      <body>
        <!--NavBar-->
        <div class="top-border">
            <div class="top-elements">
                <div class="rosen-logo">
                    <a href=".">
                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                    </a>
                </div>
            </div>
        </div>

        <!-- Input Form-->
        <div class="input-form-container">
            
            <div class="login-title">
                <b>Login<b>
            </div>

            <form class="input-form" action="" method="POST">
                <label for="username"><b>Username</b></label>
                <br>
                <input class="text-box" type="text" placeholder="Enter Username" name="username" required {{
                    request.form.username }}
                >
                <br><br>

                <label for="password"><b>Password</b></label>
                <br>
                <input class="text-box" type="password" placeholder="Enter Password" name="password" required {{
                    request.form.password }}
                >
                <br><br><br>
        
                <a href=index>
                    <button type="submit" class="login-button"><b>Login<b></button>
                </a>
                <br><br>

                <label for="password"><b>Password</b></label>
                <br>
                <input class="text-box" type="password" placeholder="Enter Password" name="password" required {{
                    request.form.password }}
                >
                <br><br><br>
        
                <a href=index>
                    <button type="submit" class="login-button"><b>Login<b></button>
                </a>
      
                <br>
                <input class="text-box" type="password" placeholder="Enter Password" name="password" required {{
                    request.form.password }}
                >
                <br><br><br>
        
                <a href=index>
                    <button type="submit" class="login-button"><b>Login<b></button>
                </a>
      