<!DOCTYPE html>

<html>

    <head>
        <title>Result</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/result-style.css') }}">
        <!-- <script src="{{url_for('static', filename='javascript/image.js')}}"></script>   -->
    </head>

    <body>
        
        <div class="top-border">
                <div class="top-elements">

                        <div class="title-label">
                        <b>Results<b>
                        </div>



                        <div class="homepage">
                        <!--a href to redirect page to index.html-->
                        <a href=uploadImage>
                                <button class="homepage-button" id="homepage-button">
                                <img src="{{url_for('static', filename='images/home-button-white.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/home-button-white-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/home-button-white.svg')}}'" width="50px" height="50px">
                                </button>
                        </a>
                        </div>



                        <div class="rosen-logo">
                        <a href=index>
                                <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                        </a>
                        </div>


                </div>
        </div>

        <div class="image-container">

                <div class="images">
                        <div class="image-box image-box1">
                                <img class="image image1" src="{{url_for('static', filename='images/fish.png')}}" id="image1" width="240px" height="240px">
