<!DOCTYPE html>

<html>

    <head>
        <title>Result</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/result-style.css') }}">
        <!-- <script src="{{url_for('static', filename='javascript/image.js')}}"></script>   -->
    </head>

    <body>
        
        <div class="top-border">
                <div class="top-elements">

                        <div class="title-label">
                        <b>Results<b>
                        </div>



                        <div class="homepage">
                        <!--a href to redirect page to index.html-->
                        <a href=uploadImage>
                                <button class="homepage-button" id="homepage-button">
                                <img src="{{url_for('static', filename='images/home-button-white.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/home-button-white-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/home-button-white.svg')}}'" width="50px" height="50px">
                                </button>
                        </a>
                        </div>



                        <div class="rosen-logo">
                        <a href=index>
                                <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                        </a>
                        </div>


                </div>
        </div>

        <div class="image-container">

                <div class="images">
                        <div class="image-box image-box1">
                                <img class="image image1" src="{{url_for('static', filename='images/fish.png')}}" id="image1" width="240px" height="240px">
                            <!-- <button class="enlarge-button">
                                <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                            </button>
                        -->
                    </div>
            
                    <div class="image-box image-box2">
                            <img class="image image2" src="{{url_for('static', filename='images/fish.png')}}" id="image2" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box3">
                            <img class="image image3" src="{{url_for('static', filename='images/fish.png')}}" id="image3" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box4">
                            <img class="image image4" src="{{url_for('static', filename='images/fish.png')}}" id="image4" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box5">
                            <img class="image image5" src="{{url_for('static', filename='images/fish.png')}}" id="image5" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
        
                    <div class="image-box image-box6">
                            <img class="image image6" src="{{url_for('static', filename='images/fish.png')}}" id="image6" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
        
                    </div>
        
                    <div class="image-box image-box7">
                            <img class="image image7" src="{{url_for('static', filename='images/fish.png')}}" id="image7" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                        
                    </div>
        
                    <div class="image-box image-box8">
                            <img class="image image8" src="{{url_for('static', filename='images/fish.png')}}" id="image8" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box9">
                            <img class="image image9" src="{{url_for('static', filename='images/fish.png')}}" id="image9" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
        
                    </div>
        
                    <div class="image-box image-box10">
                            <img class="image image10" src="{{url_for('static', filename='images/fish.png')}}" id="image10" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>

                    <div class="image-box image-box11">
                            <img class="image image1" src="{{url_for('static', filename='images/fish.png')}}" id="image11" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box12">
                            <img class="image image2" src="{{url_for('static', filename='images/fish.png')}}" id="image12" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box13">
                            <img class="image image3" src="{{url_for('static', filename='images/fish.png')}}" id="image13" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box14">
                            <img class="image image4" src="{{url_for('static', filename='images/fish.png')}}" id="image14" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
                    <div class="image-box image-box15">
                            <img class="image image5" src="{{url_for('static', filename='images/fish.png')}}" id="image15" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
                    </div>
        
        
                    <div class="image-box image-box16">
                            <img class="image image6" src="{{url_for('static', filename='images/fish.png')}}" id="image16" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->
        
                    </div>
        
                    <div class="image-box image-box17">
                            <img class="image image7" src="{{url_for('static', filename='images/fish.png')}}" id="image17" width="240px" height="240px">
                        <!-- <button class="enlarge-button">
                            <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                        </button>
                    -->


                    <div class="image-container">

                        <div class="images">
                                <div class="image-box image-box1">
                                        <img class="image image1" src="{{url_for('static', filename='images/fish.png')}}" id="image1" width="240px" height="240px">
                                    <!-- <button class="enlarge-button">
                                        <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                                    </button>
                                -->
                            </div>
                    
                            <div class="image-box image-box2">
                                    <img class="image image2" src="{{url_for('static', filename='images/fish.png')}}" id="image2" width="240px" height="240px">
                                <!-- <button class="enlarge-button">
                                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                                </button>
                            -->
                            </div>