<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
    </head>

    <body>
        
        <div class="top-border">
            <div class="rosen-logo">
                <br>
                <img src="{{url_for('static', filename='images/ROSEN_Logo_White_220.png')}}" id="logo">
            </div>
        </div>



        <div class="images">
            <div class="image-box">
                <img src="{{url_for('static', filename='images/fish.png')}}" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <br><br>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <img src="" width="240px" height="240px">
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.png')}}">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.png')}}">
                    </button>
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div>

            <div class="toolbar-rerun">
                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/select-button.png')}}">
                    </button>
                </div>

                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/pan-button.png')}}">
                    </button>
                </div>

                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/zoom-in-button.png')}}">
                    </button>
                </div>

                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/zoom-out-button.png')}}">
                    </button>
                </div>

                <!--a href to redirect page to index.html-->
                <a href=index>
                    <button class="homepage-button">
                        <b>Homepage</b>
                    </button>
                </a>

                <div class="rerun">
                    <button class="rerun-button">
                        <b>Rerun</b>
                    </button>
                </div>
            </div>



            <br><br><br>

            <div class="bottom-border">
                
            </div>

        </div>

    </body>
    
</html>
