<!DOCTYPE html>

<html>
    
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
    </head>

    <body>
        
        <div class="top-border">
            <br>
            <div class="rosen">
                <a href=index>
                    <img src="{{url_for('static', filename='images/ROSEN_Logo_White_220.png')}}" id="logo" class="rosen-logo">
                </a>
            </div>
        </div>



        <br>
        <div class="label-message">
            <b>Label Images<b>
        </div>
        <br>



        <div class="images">
            <div class="image-box">
                <div class="image">
                    <img src="{{url_for('static', filename='images/fish.png')}}" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" class="enlarge-image" onmouseover="this.src='{{url_for('static', filename='images/enlarge-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/enlarge-button.svg')}}'" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <br><br>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>

            <div class="image-box">
                <div class="image">
                    <img src="" width="240px" height="240px">
                </div>
                <button class="enlarge-button">
                    <img src="{{url_for('static', filename='images/enlarge-button.svg')}}" width="40px" height="40px">
                </button>
                <div class="x-check">
                    <button class="x-button">
                        <img src="{{url_for('static', filename='images/x-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/x-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/x-button.svg')}}'" width="55px" height="55px">
                    </button>
                    <button class="check-button">
                        <img src="{{url_for('static', filename='images/check-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/check-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/check-button.svg')}}'" width="55px" height="55px">
                    </button>
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div>

            <div class="toolbar-rerun">
                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/select-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/select-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/select-button.svg')}}'" width="40px" height="40px">
                    </button>
                </div>

                <div class="toolbar" style="margin-left: -5px;">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/pan-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/pan-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/pan-button.svg')}}'" width="40px" height="40px">
                    </button>
                </div>

                <div class="toolbar" style="margin-left: 5px">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/zoom-in-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/zoom-in-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/zoom-in-button.svg')}}'" width="40px" height="40px">
                    </button>
                </div>

                <div class="toolbar">
                    <button class="tools">
                        <img src="{{url_for('static', filename='images/zoom-out-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/zoom-out-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/zoom-out-button.svg')}}'" width="40px" height="40px">
                    </button>
                </div>

                <a href=image>
                    <div class="rerun">
                        <button class="rerun-button">
                            <b>Rerun</b>
                        </button>
                    </div>
                </a>
            </div>

            <br><br>

            <div class="homepage">
                <!--a href to redirect page to index.html-->
                <a href=index>
                    <button class="homepage-button">
                        <img src="{{url_for('static', filename='images/home-button.svg')}}" onmouseover="this.src='{{url_for('static', filename='images/home-button-dark.svg')}}'" onmouseout="this.src='{{url_for('static', filename='images/home-button.svg')}}'" width="50px" height="50px">

                    </button>
                </a>
            </div>

            <br>

            <div class="bottom-border">
                
            </div>

        </div>

    </body>
    
</html>
