<!DOCTYPE html>
      <html lang="en">
      <head>
            <title>Home</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
            <script src="../../drop_area.js"></script>
      </head>

      <body>
            <!--NavBar-->
            <div class="top-border">
                  <div class="rosen-logo">
                        <img src="{{url_for('static', filename='images/ROSEN_Logo_White_220.png')}}" id="logo">
                  </div>
            </div>


            <!--File upload area-->
            <div class="drag-area">
                  <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                  <header>Drag & Drop to Upload File</header>
                  <span>OR</span>
                  <button>Browse File</button>
                  <input type="file" hidden>
            </div>



            <!--Preview Photo area-->
            <div>
                  <p>Uploaded Photo</p>
            </div>



            <!--Preview Video area-->
            <div>
                  <p>Uploaded Video</p>
            </div>



            <!--Run button-->
            <div class="run">
                  <!--a href to redirect page to image.html-->
                  <a href=image>
                        <button class="run-button">
                        <b>Run</b>
                        </button>
                  </a>
            </div>



            <!--Footer div-->
            <div>
                  <footer>
                  </footer>
            </div>
      </body>
</html>