<!DOCTYPE html>
      <html lang="en">
      <head>
                <title>Home</title>
                <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-style.css') }}">
                
      </head>

      <body>
                <!--NavBar-->
                <div class="top-border">
                        <div class="top-elements">
                                <div class="title-label">
                                        <b>Upload Files<b>
                                </div>


                                <div class="logout">
                                        <a href=".">
                                        <button class="logout-button">
                                                Logout
                                        </button>
                                        </a>
                                </div>


                                <div class="rosen">
                                        <a href=index>
                                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                                        </a>
                                </div>
                        </div>
                </div>


                <div>
                        <h1>File Upload</h1>
                        <form method="POST" action="" enctype="multipart/form-data">
                        <p><input type="file" class=" file_multi_video" name="file" accept="video/*"/></p>
                        <video autoplay id="video" controls width="800" height="600">
                        </video>
                        <p><input class="run-button" type="submit" value="Submit"></p>
                        </form>
                </div>


                <!--Footer div-->
                <div>
                        <footer>
                                <div class="footer-text">
                                        ROSEN Team A
                                    </div>
                        </footer>
                </div>

                <script src="../static/javascript/indexPage.js"></script>
                
      </body>
</html>
