<!DOCTYPE html>
      <html lang="en">
      <head>
            <title>Home</title>
            <link rel="stylesheet" href="../shared/styling/global-style.css">
      </head>

      <body>
            <!--NavBar-->
            <div class="top-border">
                  <div class="rosen-logo">
                        <img src="../shared/images/ROSEN_Logo_White_220.png" id="logo">
                  </div>
            </div>


            <!--File upload area-->
            <div class="drop-zone">
                  <span class="drop-zone__text">
                        Drop file here or click to upload
                  </span>
                  <input type="file" name="userFile" class="drop-zone__input">
            </div>



            <!--Preview Photo area-->




            <!--Preview Video area-->




            <!--Footer div-->
            <div>
                  <footer>
                  </footer>
            </div>
      </body>
</html>