<!DOCTYPE html>
      <html lang="en">
      <head>
            <title>Home</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/global-style.css') }}">
      </head>

      <body>
            <!--NavBar-->
            <div class="top-border">
                  <div class="rosen-logo">
                        <img src="{{url_for('static', filename='images/ROSEN_Logo_White_220.png')}}" id="logo">
                  </div>
            </div>


            <!--File upload area-->
            <div class="drop-zone">
                  <span class="drop-zone__text">
                        Drop file here or click to upload
                  </span>
                  <div class="drop-zone__thumb" data-label="userFile.txt"></div>
                  <input type="file" name="userFile" class="drop-zone__input">
            </div>



            <!--Preview Photo area-->
            <div>
                  <p>Uploaded Photo</p>
            </div>



            <!--Preview Video area-->
            <div>
                  <p>Uploaded Video</p>
            </div>



            <!--Run button-->
            <div class="run">
                  <!--a href to redirect page to image.html-->
                  <a href=image>
                        <button class="run-button">
                        <b>Run</b>
                        </button>
                  </a>
            </div>



            <!--Footer div-->
            <div>
                  <footer>
                  </footer>
            </div>
      </body>
</html>