<!DOCTYPE html>
<html>
   <head>
      <title>Extracting Frames</title>
      <meta http-equiv = "refresh" content = "2; url = http://127.0.0.1:5000/extractImage" />

      <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading-style.css') }}">
   </head>
   <body>
    
                <h2 class="center">Extracting images from the video...</h2>
                
                <div class="loader"></div>

                <!-- Progress Bar -->
                <nav class="navmenu">
                        <ul>
                                <li><a href = "uploadImage" onclick="return confirm('Please click on OK to exit processing.');">Upload Image</a></li>
                                <li><a href = "uploadVideo" onclick="return confirm('Please click on OK to exit processing.');">Upload Video</a></li>
                                <li class="active">Extracting Frames</li>
                                <li>Count Specification</li>
                                <li>Image Searching</li>
                                <li>Result</li>
                        </ul>
                </nav>
     
   </body>
</html>