<!DOCTYPE HTML>
<HTML>
    <head>
        <link rel="stylesheet" href="../shared/styling/global-style.css">
    </head>
    <body>
        <div class="dark-blue-test">
            <p>ROSEN</p>
        </div>

        <div class="blue-test">
            <p>ROSEN</p>
        </div>

        <div class="background-blue-test">
            <p class="black-text">ROSEN</p>
        </div>
        
        <div>
            <p class="black-text"> Below are some text inputs sample: </p>
            <div>
                <input class="text-input" type="text" name="fname" placeholder="Input Your Name">
                <textarea class="textarea-input" rows="4" name="fname" placeholder="Input Your Name"></textarea>
            </div>
        </div>

        <div>
            <p class="black-text"> Below are some dropdown menu: </p>
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                      <a href="https://google.ca">Google</a>
                      <a href="https://canvas.ubc.ca/">UBCO Canvas</a>
                    </div>
                  </div>
            </div>
        </div>


    </body>
</HTML>