<!DOCTYPE html>
<html>
   <head>
      <title>HTML Meta Tag</title>
      <meta http-equiv = "refresh" content = "2; url = http://127.0.0.1:5000/result" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading-style.css') }}">
   </head>
                <h2 class="center">Searching for similar images...</h2>
                
                <div class="loader"></div>

                <!-- Progress Bar -->
        <nav class="navmenu">
                <ul>
                       <li>Upload Image</li>
                       <li>Upload Video</li>
                       <li>Chopping Frames</li>
                       <li>Count Specification</li>
                       <li class="active">Image Searching</li>
                       <li>Result</li>
               </ul>
       </nav>
     
   </body>
</html>