<!DOCTYPE html>
<html lang="en">
<head>
        <title>Home</title>
        <script src="../static/javascript/uploadImage.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-style.css') }}">
</head>

<body>
        <!--NavBar-->
        <div class="top-border">
                <div class="top-elements">
                        <div class="title-label">
                                <b>File Upload<b>
                        </div>


                        <div class="logout">
                                <a href=".">
                                <button class="logout-button">
                                        Logout
                                </button>
                                </a>
                        </div>


                        <div class="rosen">
                                <a href=index>
                                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                                </a>
                        </div>
                </div>
        </div>


        <!-- Image Upload -->
        <div class="upload-area">
                <div class="upload-buttons">
                        <h1 class="upload-file-title">Upload Image</h1>
                        <form method="POST" action="" enctype="multipart/form-data">
                                <p><label for="file" class="file-label">
                                        <input type="file" name="file" class="file" accept="image/*">
                                </label>
                                <input type="submit" value="Upload" class="submit"></p>
                        </form>
                </div>
  

                <div class="drag-area">
                        <!-- <div class="drag-area-photo"> -->
                                <div class="drag-area-photo">
                                        <header id="dragText">Photo Preview</header>
                                        {% for file in files %}
                                        <img src="{{ url_for('upload_image', filename=file) }}">
                                        {% endfor %}
                                </div>
                        <!-- </div> -->
                </div>
        </div>


        <!--Run button-->
        <div class="run">
                <!--onclick location.href to redirect page to uploadVideo-->
                <button class="run-button" id="run-button" onclick="location.href='uploadVideo'">
                        <b>Next</b>
                </button>
                <!-- {% if check %}
                <button class="run-button" id="run-button" onclick="location.href='uploadVideo'">
                        <b>Next</b>
                </button>
                {% else %}
                <button class="run-button" id="run-button" onclick="location.href='uploadVideo'" disabled>
                        <b>Next</b>
                </button>
                {% endif %} -->
        </div>


        <!--Footer div-->
        <div>
                <footer>
                        <div class="footer-text">
                                ROSEN Team A
                        </div>
                </footer>
        </div>

          
</body>
</html>
