<!DOCTYPE html>
      <html lang="en">
      <head>
                <title>Home</title>
                <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-style.css') }}">
                
      </head>

      <body>
                <!--NavBar-->
                <div class="top-border">
                        <div class="top-elements">
                                <div class="title-label">
                                        <b>Upload Files<b>
                                </div>


                                <div class="logout">
                                        <a href=".">
                                        <button class="logout-button">
                                                Logout
                                        </button>
                                        </a>
                                </div>


                                <div class="rosen">
                                        <a href=uploadImage>
                                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                                        </a>
                                </div>
                        </div>
                </div>


                <div class="video-upload">
                                <form method="POST" action="" enctype="multipart/form-data">
                                        <input type="file" class=" file" name="file" accept="video/*"/>
                                        <video autoplay id="video" controls width="800" height="600"></video>
                                        <input class="submit" type="submit" value="Submit">
                                </form>
                </div>

                <!--Run button-->
                <div class="run">
                        <!--a href to redirect page to image.html-->
                        <a href=result>
                                <button class="run-button">
                                        <b>Next</b>
                                </button>
                        </a>
                </div>



                
                <!--Footer div-->
                <div>
                        <footer>
                                <div class="footer-text">
                                        ROSEN Team A
                                    </div>
                        </footer>
                </div>

                <script src="../static/javascript/indexPage.js"></script>
                
      </body>
</html>
