<!DOCTYPE html>
      <html lang="en">
      <head>
                <title>Home</title>
                <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-style.css') }}">
                
      </head>

      <body>
                <!--NavBar-->
                <div class="top-border">
                        <div class="top-elements">
                                <div class="title-label">
                                        <b>File Upload<b>
                                </div>


                                <div class="logout">
                                        <a href=".">
                                        <button class="logout-button">
                                                Logout
                                        </button>
                                        </a>
                                </div>


                                <div class="rosen">
                                        <a href=uploadImage>
                                        <img src="{{url_for('static', filename='images/2880px-Logo_ROSEN_Group_White.png')}}" id="logo" width="220px" height="63px">
                                        </a>
                                </div>
                        </div>
                </div>


                 <!-- Image Upload -->
                <div class="upload-area">
                        <div class="upload-buttons">
                                <h1 class="upload-file-title"> Upload Video
                                    <span class = "tooltip"><img src="{{url_for('static', filename='images/tooltip_icon.png')}}" width="20px" height="20px">
                                        <span class="tooltiptext">1. Click 'Choose File' and select the video to upload; &nbsp;
                                                                2. Click 'Upload' to upload the video; &nbsp;
                                                                3. Click 'Next' to proceed;
                                        </span>
                                    </span>
                                </h1>
                                <form method="POST" action="" enctype="multipart/form-data">
                                        <p><label for="file" class="file-label">
                                                <input type="file" class=" file_multi_video" name="file" accept="video/*"/>
                                        </label>
                                        <input class="submit" type="submit" value="Upload"></p>
                                </form>
                        </div>

                        <video autoplay id="video" controls width="800" height="450">
                        </video>
                </div>

                <!-- Progress Bar -->
                <nav class="navmenu">
                        <ul>
                                <li>Upload Image</li>
                                <li class="active">Upload Video</li>
                                <li>Chopping Frames</li>
                                <li>Image Searching</li>
                                <li>Result</li>
                        </ul>
                </nav>

                <!--Run button-->
                <div class="run">
                        <!--onclick location.href to redirect page to loading-->
                        <button class="run-button" id="run-button" onclick="location.href='loading'">
                                <b>Next</b>
                        </button>
                        <!-- {% if check %}
                        <button class="run-button" id="run-button" onclick=onclick="location.href='loading'">
                                <b>Next</b>
                        </button>
                        {% else %}
                        <button class="run-button" id="run-button" onclick=onclick="location.href='loading'" disabled>
                                <b>Next</b>
                        </button>
                        {% endif %} -->
                </div>


                
                <!--Footer div-->
                <div>
                        <footer>
                                <div class="footer-text">
                                        ROSEN Team A
                                    </div>
                        </footer>
                </div>

                <script src="../static/javascript/indexPage.js"></script>
                
      </body>
</html>
